@media (min-width: 1024px) {
	.contentBox {
		display: flex;
		border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.34) 0%, rgba(255, 255, 255, 0) 100%);
		border-image-slice: 1;
	}
}

@media (max-width: 1023px) {
	.contentBox {
		display: none;
	}
}

.animateGradient {
	background-size: 300%;
	-webkit-animation: animatedgradient 8s ease infinite alternate;
	-moz-animation: animatedgradient 8s ease infinite alternate;
	animation: animatedgradient 8s ease infinite alternate;
}

.swiperSlide {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.moveAndRotate {
	animation: moveAndRotate 4s ease-in-out infinite;
	width: 150%;
	height: 150%;
	top: -25%;
	right: -25%;
	position: absolute;
	background: linear-gradient(45deg, rgba(0, 219, 154, 0.4), rgba(40, 66, 40, 0.5), rgba(0, 219, 154, 0.4));
	border-radius: 50%;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes moveAndRotate {
	0% {
		transform: translate(50%, -50%) rotate(0deg);
	}
	50% {
		transform: translate(60%, -50%) rotate(45deg);
	}
	100% {
		transform: translate(50%, -50%) rotate(0deg);
	}
}
